body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

#taskInput {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
}

#addButton {
    padding: 8px;
    cursor: pointer;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.taskItem {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;

    }

    .toggle-button  {
        position:absolute;
        top:30px;
        right:30px;
    }